{% extends "base.html" %}

{% block title %}Video e Canali - Home{% endblock %}

{% block content %}
    <h2>Canali Disponibili</h2>

    {% if canali %}
        <ul>
            {% for canale in canali %}
                <li>
                    <strong>{{ canale['nome'] }}</strong>
                    ({{ canale['categoria'] }}) - 
                    {{ canale['numero_iscritti'] }} iscritti
                    <br>
                    <a href="{{ url_for('main.dettagli_canale', canale_id=canale['id']) }}">Visualizza Video</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nessun canale disponibile. <a href="{{ url_for('main.nuovo_canale') }}">Creane uno!</a></p>
    {% endif %}
{% endblock %}