{% extends "base.html" %}

{% block title %}Nuovo Video - {{ canale['nome'] }}{% endblock %}

{% block content %}
    <h2>Aggiungi Video a {{ canale['nome'] }}</h2>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        <label>Titolo del Video: <input type="text" name="titolo" required></label><br><br>
        <label>Durata (in secondi): <input type="number" name="durata" required min="1"></label><br><br>
        <label>Immagine (URL o nome file): <input type="text" name="immagine"></label><br><br>
        <button type="submit">Aggiungi Video</button>
        <a href="{{ url_for('main.dettagli_canale', canale_id=canale['id']) }}">Annulla</a>
    </form>
{% endblock %}
